@font-face {
	font-family: "BrutalType";
	src: url("../fonts/BrutalType.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "BrutalType";
	src: url("../fonts/BrutalType-Medium.ttf");
	font-weight: 500;
}
@font-face {
	font-family: "BrutalType";
	src: url("../fonts/BrutalType-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "BrutalType";
	src: url("../fonts/BrutalType-ExtraBold.ttf");
	font-weight: 800;
}
